.paletas_div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.paleta{
  width: 30px;
  height: 30px;
  margin: 8px;
}
#paleta1{
  background-color: blue;
}
#paleta2{
  background-color: blueviolet;
}
#paleta3{
  background-color: brown;
}